@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  line-height: 1.7;
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-areas:
    "main main main navigation"
    "main main main img-cont"
    "main main main img-cont"
    "footer footer footer img-cont";
}
/* NAVIGATION SECTION  */
.navigation {
  grid-area: navigation;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #beebe9;
}
.navigation ul li {
  float: left;
  list-style: none;
  padding: 0 13px;
  font-size: 1.5rem;
}
/* MAIN LANDING SECTION */
.main {
  grid-area: main;
  overflow-y: auto;
  color: #000;
  background-color: #f4dada;
}
.main .content {
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100%;
}
.main .content h1 {
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.main .content p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.main .content a {
  text-decoration: none;
  border: 2px solid #000;
  min-width: 100px;
  margin: 0 auto;
  padding: 0.8rem;
  color: #000;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.4s ease-out;
}
.main .content a:hover {
  background-color: #000;
  color: #f4dada;
}
/* IMAGE SECTION */
.aside-img-container {
  grid-area: img-cont;
  background: url("../img/background-bright-candy-chewy-539447.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  grid-area: footer;
  text-align: center;
  padding: 2rem;
  background-color: #000;
  color: #fff;
}
